.header-wrapper {
    display: flex;
    padding: calc(3 * 8px) calc(15 * 8px);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, hsla(0,0,0,0.5), hsla(0,0,0,0));
}
